{#
/**
* @file
* Default theme implementation of localgov_header_block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% 
  set classes = [
    'page-title',
  ] 
%}

{% if title %}
  <div{{ attributes.addClass(classes) }}>
    <h1 class="page-title__title">{{ title }}</h1>
    {% if lede %}
      <div class="page-title__subtitle">{{ lede }}</div>
    {% endif %}
  </div>
{% endif %}
